{% extends 'base.html' %}

{% load cart_tags %}

{% block title %}Tienda{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for category in products %}
                <h3>{{category.0.name}} </h3>
                <br> <br>
                {% for product in category.1 %}
                    <div class="col-md-3 col-sm-12 col-lg-4">
                        <div class="card" style="width: 80%; height: 100%">
                            <img src="{{ product.image }}" style="width:65%;" class="card-img-top" alt="{{ product.name }}" />
                            <div class="card-body">
                                <h5 class="card-title"> {{ product.name }}</h5>
                                <p class="card-text">{{ product.price }}$</p>
                            </div>
                            <div class='card-footer text-center'>
                                <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success">
                                    Añadir al carrito
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            
        </div>

        <div class="col-3">
            {% include "widget.html" %}
        </div>
    </div>
{% endblock %}